<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HBNB</title>
</head>
<body>
    {% if state %}
        <h1>States: {{ state.name }}</h1>
        <h3>Cities:</h3>
        <ul>
            {% for city in state.cities|sort(attribute='name') %}
                <li>{{ city.id }}: <b>{{ city.name }}</b></li>
            {% endfor %}
        </ul> 
    {% elif id %}
        <h1> Not found! </h1>
    {% else %}
        <h1>States</h1>
        <ul>
            {% for st in states|sort(attribute="name") %}
                <li>{{st.id}}: <b>{{ st.name }}</b></li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>